* {
  font-family: sans-serif;
}

header:first-child {
  background-color: rgb(71, 41, 119);
  color: white;
}

input,
textarea {
  border-radius: 4px;
}

input {
  height: 2rem;
  margin-bottom: 1rem;
  width: 22rem;
}

textarea {
  margin-bottom: 1rem;
}

button {
  background-color: rgb(71, 41, 119);
  border-radius: 4px;
  color: white;
  font-size: larger;
}
