* {
  font-family: sans-serif;
}

header:first-child {
  background-color: rgb(71, 41, 119);
  color: white;
}

input,
textarea {
  border-radius: 4px;
}

img {
  border-radius: 5px;
}

input {
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  border-style: solid;
}

textarea {
  margin-bottom: 1rem;
  border-style: solid;
}

button {
  background-color: rgb(71, 41, 119);
  border-radius: 4px;
  color: white;
  font-size: larger;
}

.no-wrap {
  flex-wrap: nowrap;
  align-items: center;
}

.push-right {
  display: flex;
  justify-content: flex-end;
}

#entry-image {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 2rem;
}

.nav-bar {
  margin-left: 1rem;
}

a:first-child {
  color: white;
  text-decoration: none;
}

.delete {
  color: red;
  text-decoration: underline;
}

.title-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
